* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(site-background.png);
    background-size: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #C0C0C0;
    overflow: hidden;
    background-image: url('IMAGES/site_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

#tela{
    display: block;
    margin: 0;
}
#output{
    color: white;
}
#pontucao{
    font-size: xx-large;
}
#vidas{
    color: rgb(255, 0, 93);
}
#debug{
    color: aliceblue;
}
#title{
    color: #ffffff69;
    font-size: xx-large;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

#ranking{
    margin-left: 180px;
}

#ranking_list li{
    padding-bottom: 20px;
}

.primeiro_lugar{
    color: gold;
    font-size: 50px;
}

.segundo_lugar{
    color: #808080;
    font-size: 30px;
}

.terceiro_lugar{
    color: #B87333;
    font-size: 30px;
}

.quarto_lugar{
    font-size: 30px;
}
.quinto_lugar{
    font-size: 30px;
}
.botaozin{
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: darkred;
    color: white;
    padding:10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-small;
    transition: background-color 0.3s ease;
}
.botaozin:hover{
    background-color: rgb(220, 19, 4);
}
